@media only screen and (min-width:1600px){
    //////banner
    section.banner{
        background:url(../img/banner-xlg-mountain.jpg) no-repeat;
        background-size: 100% auto;
        background-position: 0 50%;
        height: 40rem;
        & > div{
            padding: 5rem 0;
        }
    }
    //////works
    section.works > div{
        width: 100%;
        margin:0;
        .web-cards-container{
            display: flex;
            .web-card{
                width: 23%;
            }
        }
        h1{
            width: 86rem;
            margin: auto;
        }
        .button{
            margin-left: auto;
        }
    }
}