@media only screen and (min-width:695px){
    section{
        padding: 10rem 5rem;
    }
    .hidden{
        max-height: 100vh;
    }
    ///header
    header{
        nav{
            ul{
                background-color: transparent;
                display: flex;
                height: auto;
                width: auto;
                position:static;
                li{
                    width: auto;
                    min-width: 0;
                    a{
                        padding: 2rem;
                        transition: padding 300ms ease-in-out;
                    }
                    a:hover{
                        padding: 1.7rem 2rem 2.3rem 2rem;
                    }
                }
            }
        }
        .menu-icons-container{
            display: none;
        }
    }
    .header-transparent nav ul,
    .header-colored nav ul{
        background-color: transparent;
    }
    ////banner section
    section.banner{
        background:url(../img/background/banner-m-mountain.png) no-repeat;
        height: 35rem;
        .contents{
            margin-top: 1rem;
        }
    }
    //////about section
    section.about{
        .contents{
            display: flex;
            gap: 5%;            
            .about-descriptions{
                padding-top: 0;
                order:-1;
                .title{
                    width: 100%;
                }
                .texts{
                    width: 100%;
                }
            }
            .about-pictures{
                .img-container{
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }
    /////works section
    section.works{
        padding-bottom: 20rem;
        .web-cards-container{
            display: flex;
            flex-direction: column;
            max-height: 100rem;
            .web-card{
                width: 32%;
                a{
                    .head{
                        padding: 2rem;
                    }
                    .body{
                        height: auto;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    ////conctact
    section.contact{
        div{
            form{
                max-width: 55rem;
            }
        }
    }
    ////footer
    footer > div{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        p{
            padding: 0;
        }
    }
}