$color-main:#ff6700;
$color-hover:#FFC8A3;
$color-black:#202020;
$color-white:#ffffff; //preveiusly #faf4f1
$color-grey:#dfdfdf; //d8d8d8
$color-brown:#7F746E;
$color-yellow:#fff5e3;

//global
html{
	font-size: 62.5%; /*10px*/
    scroll-behavior: smooth;
}
body{
	font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color:$color-black;
    width: 100%;
    background: $color-white;
}
input,
textarea{
    font-family: 'Open Sans', sans-serif;
}
button{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color:$color-black;
}
h1,
h2,
h3{
    font-family: 'Oswald', sans-serif;
    line-height: 1;
}
h1{
    // font-size: 6.78rem;
    font-size: 5rem;
    font-weight: bold;
}
h2{
    font-size: 4.19rem;  
}
h3{
    font-size: 2.59rem;
}
p{
    padding-top:2rem;
}
a{
    text-decoration: none;
    color:$color-main;
    display:block;
}
///hidden states
.hidden-icon{
    display: none;
}

.hidden{
    max-height: 0;
}
////////////////////////////////////button
.button{
    display: flex;
    position: relative;
    background: $color-main;
    width: 16rem;
    border-radius: .3rem;
    border: $color-black solid 1.5px;
    a,
    button{
        text-transform: uppercase;
        color:$color-black;
        padding:0.5rem;
        width: 100%;
        text-align: center;
        transition: padding 300ms ease-in-out;
        z-index: 1;
    }     
    button{
        border:none;
        background: none;
    }
    a:hover,
    a:focus,
    button:hover,
    button:focus {
      padding: 0.2rem 0.5rem 0.8rem 0.5rem;
    }
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: $color-hover;
  
    transition: transform 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}
  
.button:hover::before,
.button:focus::before {
  transform: scaleY(1);
}

///////////////////////////////////////////////////////header nav
header{
    z-index: 10;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    .logo{
        width:4rem;
        height:auto;
        padding: 1rem;
    }
    nav ul{
        width: 100%;
        position: absolute;
        top: 6.5rem;
        right: 0;
        flex-wrap: wrap;
        align-items: flex-end;
        max-height: 100vh;
        height: 100vh;
        overflow: hidden;
        transition: max-height 300ms ease-in-out;
        li{
            width: 100%;
            text-align: center;
            a{
                text-transform: uppercase;
                display: block;
                padding: 5rem 0;
            }
            a:hover{
                color:$color-main;
            }
        }
    }
    .menu-icon{
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}
//color change on scroll down form top
.header-transparent{
    background-color: transparent;
    transition: all 300ms ease-in-out;
    nav ul{
        background-color: $color-white;
        li a{  
            color: $color-black;
        }
    }
    .menu-icon{
        svg{
            fill: $color-black;
        }
    }
}
.header-colored{
    background-color: $color-black;
    transition: all 300ms ease-in-out;
    nav ul{
        background-color: $color-black;
        li a{  
            color: $color-white;
        }        
    }
        .menu-icon{
        svg{
            fill: $color-white;
        }
    }
}
////////////////////////////////////////////////sections//////
div.container{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    padding: 10rem 1rem 10rem 1rem;
}
///////////////////banner
section.banner{
    background-size:auto 100%;
    height: calc(100vh - 20rem);
    position: relative;
    .contents{
        margin-top:5rem;
        h1{
            padding: 1rem 0;
            text-align: center;
        }
        p{
            text-transform: uppercase;
            text-align: center;
            padding: 1rem;
            font-size: 1.8rem;
        }
        .button{
            margin:0 auto;
            margin-top: 1rem;
            &::after{
                content:" ";
                position: absolute;
                height: calc(100vh - (15rem + 16rem));
                width: 1.5px;
                background-color:$color-black;
                top: 35px;
                left: 50%;
            }
        }   
    }
}
////////////////works
section.works{
    background: $color-black;
    display: flex;
    flex-wrap: wrap;
    .works-heading{
        order: 2;
        padding-top: 3rem;
        .section-title{
            padding-bottom:3rem;
            h1{
                color: $color-white;
            }
        }
        .description{
            color: $color-white;
            p{
                font-size: 3rem;
            }
            ul{
                list-style: square;
                padding-left: 2rem;
            }
        }        
    }
    .web-cards-container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-height: 160rem;
        flex-wrap: wrap;
        max-width: 100%;
        .web-card{
            width: 48%;
            a{
                color: $color-black;
                transition: all 300ms ease-in-out;
                border-radius: 1.5rem;
                overflow: hidden;
                background-color: $color-white;
                .tools-used{
                    padding: 1rem;
                    p{
                        padding: 0;
                        font-size: 1.6rem;
                    }
                }
                .body{
                    transition: all 300ms ease-in-out;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                .title{
                    padding: 1rem;
                    h2{
                        font-size: 2rem;
                        text-align: center;
                    }
                }
            }
            a:hover,
            a:focus{
                margin-top:-.5rem;
                margin-bottom:.5rem;
                transition: all 300ms ease-in-out;
                .body{
                    img{
                        transition: all 300ms ease-in-out;
                    }
                }
            }
        }
    }
}
////////////////about
section.about{
    background: $color-white;
    .about-pictures{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: column;
        max-height: 45rem;
        .img-container{
            width: 48%;
            overflow: hidden;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img{
                height: 120%;
                width: auto;
            }
            &:first-child,
            &:last-child{
                height: 20rem;
            }
        }
    }
    .about-descriptions{
        padding-top: 5rem;
        .section-title{
            padding-bottom: 2rem;
        }
        .texts{
            p{
                max-width: 50ch;
                
            }
        }
        .social-media{
            display: flex;
            padding-top: 2rem;
            div{
                padding-right: 2rem;
                a{
                    width: 3rem;
                    height: 3rem;
                    display:block;
                    svg{
                        fill: $color-main;
                        width: 100%;
                        height:auto;
                    }
                }
                a:hover svg{
                    fill: $color-hover;
                }    
            }
        }            
    }
}
////////////////contacts
section.contact{
    background: $color-yellow;
    .description{
        ul{
            list-style: square;
            padding:2rem 0 0 2rem;
        }
    }
    form{
        div{
            display: flex;
            margin:1rem 0;         
        }
    }
    input,
    textarea{
        background: $color-grey;
        border:none;
        padding:1rem;
        width: 100%;
    }
    textarea{
        min-height: 20rem;
    }
}
////////////////////////////////////////footer
footer{
    color:$color-white;
    background: $color-black;
    padding: 3rem 1rem;
    .social-media{
        display: flex;
        div{
            padding-right: 1.5rem;
            a{
                width: 3rem;
                height: 3rem;
                display:block;
                svg{
                    fill: $color-white;
                    width: 100%;
                    height:auto;
                }
            }
            a:hover svg{
                fill: $color-hover;
            }    
        }
    }
}

///////////////helper class
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}