@media only screen and (min-width:960px){
    section.banner > div,
    section.works > div,
    section.contact > div{
        width: 86rem;
        margin: auto;
    }
    //////banner
    section.banner{
        background:url(../img/background/banner-lg-mountain.png) no-repeat;
        background-size:auto 100%;
        height: 50rem;
        .contents{
            padding: 7rem 0;
                h1{
                    margin: 2rem 0;
                }
                p{
                    margin: 2rem 0;
                }
                div{
                    margin: 2rem 0;
                }
        }
    }
    //////works
    section.works{
        .web-cards-container{
            .web-card{
                a{
                    .head{
                        padding: 2rem 4rem;
                    }
                }
            }
        }
    }
    //////about section
    section.about{
        .contents{
            max-width: 86rem;
            margin: 0 auto;
        }
    }
}