@media only screen and (min-width:1480px){
    //////banner
    section.banner{
        background:url(../img/banner-lg-mountain.jpg) no-repeat;
        background-size:100% auto;
    }
    //////works
    section.works{
        & > div{
            width: 100%;
            max-width: 148rem;
            .section-title,
            .buttons-container{
                width: 86rem;
                margin: 0 auto;
            }
            .web-cards-container{
                height: 87rem;
                gap:6rem;
                .web-card{
                    width: 30%;
                }
            }
        }
    }
    //////about section
    .about-pictures{
        .img-container{
            height: 35rem;
        }
    }
}