$color-main:#ff6700;
$color-hover:#FFC8A3;
$color-black:#000000;
$color-white:#ffffff; //preveiusly #faf4f1
$color-grey:#d8d8d8;

//global
html{
	font-size: 62.5%; /*10px*/
}
body{
	font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color:$color-black;
    width: 100%;
    background: $color-white;
}
input,
textarea{
    font-family: 'Open Sans', sans-serif;
}
button{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color:$color-black;
}
h1,
h2,
h3{
    font-family: 'Oswald', sans-serif;
    line-height: 1;
}
h1{
    font-size: 6.78rem;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: 4.19rem;  
}
h3{
    font-size: 2.59rem;
}
p{
    padding-top:2rem;
}
a{
    text-decoration: none;
    color:$color-main;
    display:block;
}
///hidden states
.hidden-icon{
    display: none;
}

.hidden{
    max-height: 0;
}
////////////////////////////////////button
.button{
    display: flex;
    position: relative;
    background: $color-main;
    width: 16rem;
    border-radius: .3rem;
    a,
    button{
        text-transform: uppercase;
        color:$color-black;
        padding:0.5rem;
        width: 100%;
        text-align: center;
        transition: padding 300ms ease-in-out;
        z-index: 1;
    }     
    button{
        border:none;
        background: none;
    }
    a:hover,
    a:focus,
    button:hover,
    button:focus {
      padding: 0.5rem 0.2rem 0.5rem 0.8rem;
    }
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: $color-hover;
  
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .button:hover::before,
  .button:focus::before {
    transform: scaleX(1);
  }
///////////////////////////////////////////////////////header nav
header{
    z-index: 10;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    .logo{
        width:4rem;
        height:auto;
        padding: 1rem;
    }
    nav ul{
        width: 100%;
        position: absolute;
        top: 6.5rem;
        right: 0;
        flex-wrap: wrap;
        background-color: $color-white;
        align-items: flex-end;
        max-height: 100vh;
        height: 100vh;
        overflow: hidden;
        transition: max-height 300ms ease-in-out;
        li{
            width: 100%;
            text-align: center;
            a{
                text-transform: uppercase;
                color: $color-black;
                display: block;
                padding: 5rem 0;
            }
            a:hover{
                color:$color-main;
            }
        }
    }
    .menu-icon{
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}
.nav-transparent{
    background-color: transparent;
    transition: background-color 300ms ease-in-out;
}
.nav-colored{
    background-color: $color-white;
    transition: background-color 300ms ease-in-out;
}
////////////////////////////////////////////////sections//////
section{
    padding: 5rem 1rem 5rem 1rem;
}
///////////////////banner
section.banner{
    padding-top: 7rem;
    background:url(../img/banner-sm-mountain.jpg) no-repeat;
    background-size:auto 100%;
    height: 51rem;
    h1{
        padding: 1rem 0;
    }
    p{
        text-transform: uppercase;
        padding: 1rem;
        font-size: 2.4rem;
    }
    div{
        margin:1rem 0;
    }
}
////////////////about
.about-pictures{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .img-container{
        width: 48%;
        overflow: hidden;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img{
            height: 120%;
            width: auto;
        }
    }
}
section.about{
    .section-title{
        padding-bottom: 2rem;
    }
}
////////////////works
section.works{
    background: $color-black;
    .section-title{
        padding-bottom:4rem;
        h1{
            color: $color-white;
            span{
                font-size: 3rem;
                text-transform: lowercase;
                color: $color-grey;
            }
        }  
    }
    .description{
        color: $color-white;
        padding-bottom: 8rem;
        p{
            font-size: 3rem;
        }
        ul{
            list-style: square;
            padding-left: 2rem;
        }
    }
    .web-cards-container{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        .web-card{
            a{
                background-color: #333333;
                color: $color-grey;
                transition: margin 300ms ease-in-out;
                .head{
                    padding:2rem 1rem;
                    background-color: #424242;
                    min-height: 12rem;
                }
                .body{
                    visibility: hidden;
                    height: 0;
                    padding: 0;
                }
            }
            a:hover{
                margin-top:-1rem;
                margin-bottom:1rem;
                transition: margin 300ms ease-in-out;
            }
        }
    }
    .button{
        margin-top: 2rem;
    }
}
////////////////contacts
section.contact{
    div{
        div{
            display: flex;
            margin:2rem 0;         
        }
    }
    input,
    textarea{
        background: $color-grey;
        border:none;
        padding:1rem;
        width: 100%;
    }
    textarea{
        min-height: 20rem;
    }
}
////////////////////////////////////////footer
footer{
    color:$color-white;
    background: $color-black;
    padding: 3rem 1rem;
    .social-media{
        display: flex;
        div{
            padding-right: 1.5rem;
            a{
                width: 2rem;
                height: 2rem;
                display:block;
                svg{
                    fill: $color-white;
                    width: 100%;
                    height:auto;
                }
            }
            a:hover svg{
                fill: $color-hover;
            }    
        }
    }
}

///helper class
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}