html {
  font-size: 62.5%;
  /*10px*/
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  width: 100%;
  background: #faf4f1;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

button {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 6.78rem;
  line-height: 1;
  font-weight: bold;
}

h2 {
  font-size: 4.19rem;
}

h3 {
  font-size: 25.9rem;
}

p {
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: #ff6700;
  display: block;
}

.hidden-icon {
  display: none;
}

.hidden {
  max-height: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #ff6700;
  width: 16rem;
  border-radius: .3rem;
}

.button a,
.button button {
  color: #000000;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  z-index: 1;
}

.button button {
  border: none;
  background: none;
}

.button a:hover,
.button a:focus,
.button button:hover,
.button button:focus {
  padding: 0.5rem 0.2rem 0.5rem 0.8rem;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: #FFC8A3;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.button:hover::before,
.button:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #faf4f1;
}

header .logo {
  width: 4rem;
  height: auto;
  padding: 1rem;
}

header nav ul {
  width: 100%;
  position: absolute;
  top: 6.5rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #faf4f1;
  max-height: 80vh;
  overflow: hidden;
  -webkit-transition: max-height 300ms ease-in-out;
  transition: max-height 300ms ease-in-out;
}

header nav ul li {
  width: 100%;
  text-align: center;
}

header nav ul li a {
  text-transform: uppercase;
  color: #000000;
  display: block;
  padding: 5rem 0;
}

header nav ul li a:hover {
  color: #FFC8A3;
}

header .menu-icon {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
}

header .menu-icon svg {
  width: 100%;
  height: 100%;
}

section {
  padding: 5rem 1rem 5rem 1rem;
}

section.banner {
  padding-top: 7rem;
  background: url(../img/banner-phone-mountain.webp) no-repeat;
  background-position: left -5rem bottom -7rem;
  height: 59rem;
  background-size: auto 105%;
}

section.banner h1 {
  padding: 1rem 0;
}

section.banner p {
  padding: 1rem;
  background-color: #faf4f1;
  width: 22rem;
}

section.banner div {
  margin: 1rem 0;
}

section.works {
  background: #000000;
}

section.works h1 {
  padding-bottom: 2rem;
  color: #faf4f1;
}

section.works .web-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

section.works .web-cards-container .web-card {
  background: #2b2829;
}

section.works .web-cards-container .web-card a {
  padding: 1rem 0;
  color: #faf4f1;
}

section.works .web-cards-container .web-card a .content {
  padding: 1rem;
}

section.works .web-cards-container .web-card a .content h2 {
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
}

section.works .web-cards-container .web-card a .tools-used {
  padding: 1rem;
  background: #faf4f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #000000;
}

section.works .web-cards-container .web-card a .tools-used p {
  padding: 0;
}

section.works .web-cards-container .web-card a:hover h2 {
  padding-left: 1rem;
}

section.works .button {
  margin-top: 3rem;
}

section.contact div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

section.contact input,
section.contact textarea {
  background: #dfdfdf;
  border: none;
  padding: 1rem;
  width: 100%;
}

section.contact textarea {
  min-height: 20rem;
}

footer {
  color: #faf4f1;
  background: #000000;
  padding: 3rem 1rem;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-media div {
  padding-right: 2rem;
}

footer .social-media div a {
  width: 3rem;
  height: 3rem;
  display: block;
}

footer .social-media div a svg {
  fill: #faf4f1;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 695px) {
  section {
    padding: 10rem 5rem;
  }
  .hidden {
    max-height: 100vh;
  }
  header nav ul {
    width: auto;
    position: static;
  }
  header nav ul li {
    width: auto;
    min-width: 0;
  }
  header nav ul li a {
    padding: 2rem;
    -webkit-transition: padding 300ms ease-in-out;
    transition: padding 300ms ease-in-out;
  }
  header nav ul li a:hover {
    padding: 1.7rem 2rem 2.3rem 2rem;
  }
  header .menu-icons-container {
    display: none;
  }
  section.banner {
    background: url(../img/banner-desktop-mountain.webp) no-repeat;
    background-position: left -15rem top 5rem;
    height: 28rem;
    background-size: 140% auto;
  }
  section.about p {
    max-width: 55rem;
    margin-left: 5rem;
  }
  section.works .web-cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.works .web-cards-container .web-card {
    width: 48%;
    margin-bottom: 3rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section.works .web-cards-container .web-card a {
    height: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.works .web-cards-container .web-card a .tools-used {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  section.contact div form {
    max-width: 55rem;
  }
  footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  footer > div p {
    padding: 0;
  }
}

@media only screen and (min-width: 960px) {
  section.banner > div,
  section.about > div,
  section.works > div,
  section.contact > div {
    width: 86rem;
    margin: auto;
  }
  section.banner {
    background-position: center bottom -32rem;
    height: 50rem;
    background-size: auto 135%;
  }
  section.banner > div {
    padding: 10rem 0;
  }
  section.banner > div h1 {
    margin: 2rem 0;
  }
  section.banner > div p {
    margin: 2rem 0;
  }
  section.banner > div div {
    margin: 2rem 0;
  }
  section.works .web-cards-container .web-card a h2,
  section.works .web-cards-container .web-card a p,
  section.works .web-cards-container .web-card a .tools-used {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  section.works .web-cards-container .web-card a:hover h2 {
    padding-left: 6rem;
    padding-right: 4rem;
  }
}

@media only screen and (min-width: 1740px) {
  section.banner {
    background-position: center top 0;
    height: 40rem;
    background-size: 100% auto;
  }
  section.banner > div {
    padding: 5rem 0;
  }
  section.works > div {
    width: 100%;
    margin: 0;
  }
  section.works > div .web-cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.works > div .web-cards-container .web-card {
    width: 23%;
  }
  section.works > div h1 {
    width: 96rem;
    margin: auto;
  }
  section.works > div .button {
    margin-left: auto;
  }
}
/*# sourceMappingURL=style.css.map */