html {
  font-size: 62.5%;
  /*10px*/
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  width: 100%;
  background: #ffffff;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

button {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 6.78rem;
  font-weight: bold;
}

h2 {
  font-size: 4.19rem;
}

h3 {
  font-size: 2.59rem;
}

p {
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: #ff6700;
  display: block;
}

.hidden-icon {
  display: none;
}

.hidden {
  max-height: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #ff6700;
  width: 16rem;
  border-radius: .3rem;
}

.button a,
.button button {
  text-transform: uppercase;
  color: #000000;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  z-index: 1;
}

.button button {
  border: none;
  background: none;
}

.button a:hover,
.button a:focus,
.button button:hover,
.button button:focus {
  padding: 0.5rem 0.2rem 0.5rem 0.8rem;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: #FFC8A3;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.button:hover::before,
.button:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .logo {
  width: 4rem;
  height: auto;
  padding: 1rem;
}

header nav ul {
  width: 100%;
  position: absolute;
  top: 6.5rem;
  right: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: max-height 300ms ease-in-out;
  transition: max-height 300ms ease-in-out;
}

header nav ul li {
  width: 100%;
  text-align: center;
}

header nav ul li a {
  text-transform: uppercase;
  display: block;
  padding: 5rem 0;
}

header nav ul li a:hover {
  color: #ff6700;
}

header .menu-icon {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
}

header .menu-icon svg {
  width: 100%;
  height: 100%;
}

.header-transparent {
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header-transparent nav ul {
  background-color: #ffffff;
}

.header-transparent nav ul li a {
  color: #000000;
}

.header-transparent .menu-icon svg {
  fill: #000000;
}

.header-colored {
  background-color: #000000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header-colored nav ul {
  background-color: #000000;
}

.header-colored nav ul li a {
  color: #ffffff;
}

.header-colored .menu-icon svg {
  fill: #ffffff;
}

section {
  padding: 10rem 1rem 10rem 1rem;
}

section.banner {
  padding-top: 7rem;
  background: url(../img/banner-sm-mountain.jpg) no-repeat;
  background-size: auto 100%;
  height: 51rem;
}

section.banner .contents {
  margin-top: 5rem;
}

section.banner .contents h1 {
  padding: 1rem 0;
}

section.banner .contents p {
  text-transform: uppercase;
  padding: 1rem;
  font-size: 2rem;
}

section.banner .contents .button {
  margin: 1rem 0;
}

section.about .about-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 45rem;
}

section.about .about-pictures .img-container {
  width: 48%;
  overflow: hidden;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.about .about-pictures .img-container img {
  height: 120%;
  width: auto;
}

section.about .about-pictures .img-container:first-child, section.about .about-pictures .img-container:last-child {
  height: 20rem;
}

section.about .contents {
  padding-top: 5rem;
}

section.about .contents .section-title {
  padding-bottom: 2rem;
}

section.about .contents .texts p {
  max-width: 50ch;
}

section.about .contents .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

section.about .contents .social-media div {
  padding-right: 2rem;
}

section.about .contents .social-media div a {
  width: 3rem;
  height: 3rem;
  display: block;
}

section.about .contents .social-media div a svg {
  fill: #ff6700;
  width: 100%;
  height: auto;
}

section.about .contents .social-media div a:hover svg {
  fill: #FFC8A3;
}

section.works {
  background: #000000;
}

section.works .works-heading .section-title {
  padding-bottom: 3rem;
}

section.works .works-heading .section-title h1 {
  color: #ffffff;
}

section.works .works-heading .description {
  color: #ffffff;
  padding-bottom: 5rem;
}

section.works .works-heading .description p {
  font-size: 3rem;
}

section.works .works-heading .description ul {
  list-style: square;
  padding-left: 2rem;
}

section.works .web-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

section.works .web-cards-container .web-card {
  width: 100%;
}

section.works .web-cards-container .web-card a {
  background-color: #7F746E;
  color: #000000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

section.works .web-cards-container .web-card a .head {
  padding: 2rem 1rem;
  background-color: #FFC8A3;
  min-height: 12rem;
}

section.works .web-cards-container .web-card a .body {
  height: 0;
  overflow: hidden;
}

section.works .web-cards-container .web-card a .body img {
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  height: auto;
}

section.works .web-cards-container .web-card a:hover {
  margin-top: -1rem;
  margin-bottom: 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

section.works .web-cards-container .web-card a:hover .body img {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

section.works .button {
  margin-top: 2rem;
}

section.contact .description ul {
  list-style: square;
  padding: 2rem 0 0 2rem;
}

section.contact form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

section.contact input,
section.contact textarea {
  background: #cecece;
  border: none;
  padding: 1rem;
  width: 100%;
}

section.contact textarea {
  min-height: 20rem;
}

footer {
  color: #ffffff;
  background: #000000;
  padding: 3rem 1rem;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-media div {
  padding-right: 1.5rem;
}

footer .social-media div a {
  width: 3rem;
  height: 3rem;
  display: block;
}

footer .social-media div a svg {
  fill: #ffffff;
  width: 100%;
  height: auto;
}

footer .social-media div a:hover svg {
  fill: #FFC8A3;
}

@media only screen and (min-width: 695px) {
  section {
    padding: 10rem 5rem;
  }
  .hidden {
    max-height: 100vh;
  }
  header nav ul {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    position: static;
  }
  header nav ul li {
    width: auto;
    min-width: 0;
  }
  header nav ul li a {
    padding: 2rem;
    -webkit-transition: padding 300ms ease-in-out;
    transition: padding 300ms ease-in-out;
  }
  header nav ul li a:hover {
    padding: 1.7rem 2rem 2.3rem 2rem;
  }
  header .menu-icons-container {
    display: none;
  }
  .header-transparent nav ul,
  .header-colored nav ul {
    background-color: transparent;
  }
  section.banner {
    background: url(../img/banner-m-mountain.jpg) no-repeat;
    height: 35rem;
  }
  section.banner .contents {
    margin-top: 1rem;
  }
  section.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5%;
  }
  section.about .contents {
    padding-top: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  section.about .contents .title {
    width: 100%;
  }
  section.about .contents .texts {
    width: 100%;
  }
  section.about .about-pictures .img-container img {
    height: 100%;
  }
  section.works {
    padding-bottom: 20rem;
  }
  section.works .web-cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100rem;
  }
  section.works .web-cards-container .web-card {
    width: 32%;
  }
  section.works .web-cards-container .web-card a .head {
    padding: 2rem;
  }
  section.works .web-cards-container .web-card a .body {
    height: auto;
    padding: .5rem;
    padding-bottom: 0;
  }
  section.contact div form {
    max-width: 55rem;
  }
  footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  footer > div p {
    padding: 0;
  }
}

@media only screen and (min-width: 960px) {
  section.banner > div,
  section.works > div,
  section.contact > div {
    width: 86rem;
    margin: auto;
  }
  section.banner {
    background: url(../img/banner-lg-mountain.jpg) no-repeat;
    background-size: auto 100%;
    height: 50rem;
  }
  section.banner .contents {
    padding: 7rem 0;
  }
  section.banner .contents h1 {
    margin: 2rem 0;
  }
  section.banner .contents p {
    margin: 2rem 0;
  }
  section.banner .contents div {
    margin: 2rem 0;
  }
  section.works .web-cards-container .web-card a .head {
    padding: 2rem 4rem;
  }
  section.about {
    max-width: 86rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5%;
  }
  section.about .contents {
    padding-top: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 90%;
  }
}

@media only screen and (min-width: 1480px) {
  section.banner {
    background: url(../img/banner-lg-mountain.jpg) no-repeat;
    background-size: 100% auto;
    background-position: 0 100%;
  }
  .about-pictures .img-container {
    height: 35rem;
  }
}

@media only screen and (min-width: 1600px) {
  section.banner {
    background: url(../img/banner-xlg-mountain.jpg) no-repeat;
    background-size: 100% auto;
    background-position: 0 100%;
  }
  section.banner > div {
    padding: 5rem 0;
  }
  .about-pictures .img-container {
    height: 45rem;
  }
}
/*# sourceMappingURL=style.css.map */