.form{
	display: flex;
	flex-direction: column;
	gap:1rem;
	max-width: 50rem;
	& > div:not(.radio){
		label{
			display: block;
		}
	}
	input,
	select,
	textarea{
		border: solid $color-neutral .2rem;
	}
	input[type=submit]{
		background: $color-primary;
		// border: solid $color-primary .1rem;
		border: none;
		padding: 1rem 0;
		margin-top:2rem;
		color: #ffffff;
	}
}