//variables
$color-accent:#850005;
$color-primary:#93C4E0;
$color-primary-dark:#005D93;
$color-primary-darker:#094074;
$color-dark:#000000;
$color-grey:#808080;
$color-light:#FFFFFF;

//typography
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&display=swap');
// font-family: 'DM Serif Display', serif;
// font-family: 'Open Sans', sans-serif;
html {
    font-size: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: $color-dark;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bold;
    margin: 0;
}
h1{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}
h2{
    font-size: 2.25rem;
    line-height: 1.3333333333333333;
    margin-bottom: 0.6666666666666666rem;
}
h3{
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}
h4{
    font-size: 1.3125rem;
    line-height: 1.1428571428571428;
    margin-bottom: 1.1428571428571428rem;
}
h5{
    font-size: 1.125em;
    line-height: 1.3333333333333333;
    margin-bottom: 1.3333333333333333em;
}
h6{
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}
p,
blockquote {
    font-size: 1rem;
    margin: 0 0 1.5rem;
    line-height: 1.5;
    hyphens: auto;
}
dl,
ol,
ul {
    font-size: 1rem;
    margin: 0 0 1.5rem;
    padding: 0;
}
dd,
dt,
li {
    line-height: 1.5;
    margin: 0;
}

//buttons
.hide-btn{
    display: none;
}
a{
    text-decoration: none;
}

//others
section{
    padding:2rem 0;
}

////////////////////////////////////sections and header
.hidden-icon {
    display: none;
}
.hidden {
    max-height: 0;
}
header{
    background: $color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo{
        padding: .5rem;
        a{
            color: $color-dark;
            p{
                margin: 0;
                text-transform: uppercase;
            }
        }
    }
    nav ul{
    overflow: hidden;
    background: $color-light;
    width: 100%;
    position: absolute;
    top: 3.1rem;
    right: 0;
    flex-wrap: wrap;
    align-items: flex-end;
    max-height: 100vh;
    height: 100vh;
    transition: max-height 300ms ease-in-out;
    margin: 0;
        li{
            width: 100%;
            text-align: center;
            a{
                text-transform: uppercase;
                display: block;
                padding: 1rem 0;
                svg{
                    fill: $color-primary-darker;
                }
            }
        }
    }
    .menu-icons-container{
        padding: .5rem;
    } 
} 

.dog-image-section{
    background: $color-accent;
    color: $color-light;
    .contents{
        padding: 0 1rem;
        .img-container{
            img{
                width: 100%;
            }
        }
        .texts{
            .quote{
                font-size: .875rem;
            }
            .score{
                font-size: 1.25rem;
                font-weight: bold;
                span{
                    font-size: 3.125rem;
                }
            }
        }   
    }
}

.action-section{
    background: $color-primary;
    .contents{
        padding:0 1rem;
        display: flex;
        flex-wrap: wrap;
        min-height: 28.8125rem;
        align-content: space-between;
        & > div{
            width: 100%;
        }
        .mistakes{
            text-align: right;
        }
        .word-spotlight{
            font-family: 'DM Serif Display', serif;
            font-size: 2.1875rem;
        }
        hr{
            background: black;
            height: .2rem;
            border: none;
            margin: 2rem 0 1.5rem 0;
        }
        .keyboard{
            min-height: 15rem;
            .alphabet-key{
                background: $color-primary-dark;
                width: 14.3%;
                height: 2.5rem;
                border: .1rem solid $color-primary-dark;
                margin: 0.1rem;
                border-radius: .3rem;
                color: $color-light;
            }
            .alphabet-key:disabled{
                background: $color-primary;
                color: $color-grey;
            }
        }
        .buttons{
            display: flex;
            justify-content: flex-end;
            .reset-btn,
            .next-btn{
                height: 2.5rem;
                min-width: 6rem;
                background: $color-accent;
                border: none;
                color: $color-light;
                border-radius: .3rem;
            }
            .next-btn{
                background: $color-primary-darker;
            }
        }
    }
}

.abstract-section{
    height: 10rem;
    background: url(../img/abstract.jpg) no-repeat;
    background-size: 100% auto;
}

footer{
    background: $color-dark;
    .contents{
        height: 3rem;
        display: flex;
        align-items: center;
        padding: .5rem;
        a{
            color: $color-light;
        }
    }
}