//variables
$color-accent:#850005;
$color-accent-dark:#580000;

$color-primary:#93C4E0;
$color-primary-dark:#106678;

$color-dark:#000000;
$color-dark-light:#808080;

$color-light:#f7f5fb;
$color-light-dark:#C2C2C2;

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


//typography
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&display=swap');
// font-family: 'DM Serif Display', serif;
// font-family: 'Open Sans', sans-serif;
html {
    font-size: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: $color-dark;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bold;
    margin: 0;
}
h1{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}
h2{
    font-size: 2.25rem;
    line-height: 1.3333333333333333;
    margin-bottom: 0.6666666666666666rem;
}
h3{
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}
h4{
    font-size: 1.3125rem;
    line-height: 1.1428571428571428;
    margin-bottom: 1.1428571428571428rem;
}
h5{
    font-size: 1.125em;
    line-height: 1.3333333333333333;
    margin-bottom: 1.3333333333333333em;
}
h6{
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}
p,
blockquote {
    font-size: 1rem;
    margin: 0 0 1.5rem;
    line-height: 1.5;
    hyphens: auto;
}
dl,
ol,
ul {
    font-size: 1rem;
    margin: 0 0 1.5rem;
    padding: 0;
}
dd,
dt,
li {
    line-height: 1.5;
    margin: 0;
}

//buttons
.hide-btn{
    display: none;
}
a{
    text-decoration: none;
}

//others

////////////////////////////////////sections and header
.hidden-icon {
    display: none;
}
.hidden {
    max-height: 0;
}
header{
    background: $color-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo{
        padding: .5rem;
        a{
            color: $color-light;
            font-weight: bold;
            p{
                margin: 0;
                text-transform: uppercase;
            }
        }
    }
    nav ul{
    overflow: hidden;
    background: $color-dark;
    width: 100%;
    position: absolute;
    top: 3.1rem;
    right: 0;
    flex-wrap: wrap;
    align-items: flex-end;
    max-height: 100vh;
    height: 100vh;
    transition: max-height 300ms ease-in-out;
    margin: 0;
        li{
            width: 100%;
            text-align: center;
            a{
                text-transform: uppercase;
                display: block;
                padding: 1rem 0;
                svg{
                    fill: $color-light;
                }
            }
        }
    }
    .menu-icons-container{
        padding: .5rem;
        svg{
            fill:$color-light;
        }
    } 
} 

.dog-image-section{
    color: $color-dark;
    .background{
        padding:2rem 0;
        background: rgba($color: $color-light, $alpha: 1);
    }
    .contents{
        padding: 0 1rem;
        .img-container{
            background: rgba($color: $color-accent, $alpha: 1);
            border-radius: 1rem;
            overflow: hidden;
            img{
                width: 100%;
                cursor: zoom-out;
                height: auto;
            }
        }
        .texts{
            .quote{
                font-size: .875rem;
            }
            .score{
                font-size: 1.25rem;
                font-weight: bold;
                span{
                    font-size: 3.125rem;
                }
            }
        }   
    }
}

.action-section{
    padding:2rem 0;
    background: $color-light-dark;
    .contents{
        padding:0 1rem;
        display: flex;
        flex-wrap: wrap;
        min-height: 28.8125rem;
        align-content: space-between;
        & > div{
            width: 100%;
        }
        .mistakes{
            text-align: right;
        }
        .word-spotlight{
            font-family: 'DM Serif Display', serif;
            font-size: 2.1875rem;
            line-height: 1;
        }
        hr{
            background: black;
            height: .2rem;
            border: none;
            margin: 2rem 0 1.5rem 0;
        }
        .keyboard{
            min-height: 15rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .alphabet-key{
                cursor: pointer;
                background: $color-light;
                width: 16.5%;
                height: 2.5rem;
                border: .1rem solid $color-light;
                margin: 0.1rem;
                border-radius: .3rem;
                color: $color-dark;
                transition: all 100ms ease-in-out;
            }
            .alphabet-key:disabled{
                background: $color-light-dark;
                color: $color-dark-light;
                border-color: $color-light-dark;
            }
        }
        .buttons{
            display: flex;
            justify-content: flex-end;
            .reset-btn,
            .next-btn{
                height: 2.2rem;
                min-width: 6rem;
                background: $color-accent;
                border: none;
                color: $color-light;
                border-radius: .3rem;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    filter: brightness(50%);
                }
            }
            .next-btn{
                background: $color-primary-dark;
            }
        }
    }
}

.abstract-section{
    height: 10rem;
    .contents{
        padding:2rem 0;
        background: url(../img/abstract.jpg) no-repeat;
        background-size: cover;
        height: 100%;
    }
}

footer{
    background: $color-dark;
    position: relative;
    z-index: 100;
    .contents{
        height: 3rem;
        display: flex;
        align-items: center;
        padding: .5rem;
        a{
            font-size: .8rem;
            color: $color-light;
        }
    }
}