@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&display=swap");
html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3333333333333333;
  margin-bottom: 0.6666666666666666rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.3125rem;
  line-height: 1.1428571428571428;
  margin-bottom: 1.1428571428571428rem;
}

h5 {
  font-size: 1.125em;
  line-height: 1.3333333333333333;
  margin-bottom: 1.3333333333333333em;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

p,
blockquote {
  font-size: 1rem;
  margin: 0 0 1.5rem;
  line-height: 1.5;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

dl,
ol,
ul {
  font-size: 1rem;
  margin: 0 0 1.5rem;
  padding: 0;
}

dd,
dt,
li {
  line-height: 1.5;
  margin: 0;
}

.hide-btn {
  display: none;
}

a {
  text-decoration: none;
}

.hidden-icon {
  display: none;
}

.hidden {
  max-height: 0;
}

header {
  background: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .logo {
  padding: .5rem;
}

header .logo a {
  color: #000000;
  font-weight: bold;
}

header .logo a p {
  margin: 0;
  text-transform: uppercase;
}

header nav ul {
  overflow: hidden;
  background: #808080;
  width: 100%;
  position: absolute;
  top: 3.1rem;
  right: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 100vh;
  height: 100vh;
  -webkit-transition: max-height 300ms ease-in-out;
  transition: max-height 300ms ease-in-out;
  margin: 0;
}

header nav ul li {
  width: 100%;
  text-align: center;
}

header nav ul li a {
  text-transform: uppercase;
  display: block;
  padding: 1rem 0;
}

header nav ul li a svg {
  fill: #000000;
}

header .menu-icons-container {
  padding: .5rem;
}

header .menu-icons-container svg {
  fill: #f7f5fb;
}

.dog-image-section {
  color: #000000;
}

.dog-image-section .background {
  padding: 2rem 0;
  background: #f7f5fb;
}

.dog-image-section .contents {
  padding: 0 1rem;
}

.dog-image-section .contents .img-container {
  background: #c2c2c2;
  border-radius: 1rem;
}

.dog-image-section .contents .img-container img {
  width: 100%;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.dog-image-section .contents .texts .quote {
  font-size: .875rem;
}

.dog-image-section .contents .texts .score {
  font-size: 1.25rem;
  font-weight: bold;
}

.dog-image-section .contents .texts .score span {
  font-size: 3.125rem;
}

.action-section {
  padding: 2rem 0;
  background: #C2C2C2;
}

.action-section .contents {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 28.8125rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.action-section .contents > div {
  width: 100%;
}

.action-section .contents .mistakes {
  text-align: right;
}

.action-section .contents .word-spotlight {
  font-family: 'DM Serif Display', serif;
  font-size: 2.1875rem;
  line-height: 1;
}

.action-section .contents hr {
  background: black;
  height: .2rem;
  border: none;
  margin: 2rem 0 1.5rem 0;
}

.action-section .contents .keyboard {
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action-section .contents .keyboard .alphabet-key {
  cursor: pointer;
  background: #f7f5fb;
  width: 16.5%;
  height: 2.5rem;
  border: 0.1rem solid #f7f5fb;
  margin: 0.1rem;
  border-radius: .3rem;
  color: #000000;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.action-section .contents .keyboard .alphabet-key:disabled {
  background: #C2C2C2;
  color: #808080;
  border-color: #C2C2C2;
}

.action-section .contents .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.action-section .contents .buttons .reset-btn,
.action-section .contents .buttons .next-btn {
  height: 2.2rem;
  min-width: 6rem;
  background: #850005;
  border: none;
  color: #f7f5fb;
  border-radius: .3rem;
}

.action-section .contents .buttons .reset-btn:hover,
.action-section .contents .buttons .next-btn:hover {
  cursor: pointer;
}

.action-section .contents .buttons .reset-btn:active,
.action-section .contents .buttons .next-btn:active {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.action-section .contents .buttons .next-btn {
  background: #106678;
}

.abstract-section {
  height: 10rem;
}

.abstract-section .contents {
  padding: 2rem 0;
  background: url(../img/abstract.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}

footer {
  background: #000000;
}

footer .contents {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

footer .contents a {
  font-size: .8rem;
  color: #f7f5fb;
}

@media (min-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 38rem;
    width: 100%;
  }
  .hidden {
    max-height: 100vh;
  }
  header nav ul {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    position: static;
  }
  header nav ul li {
    width: auto;
    min-width: 0;
  }
  header nav ul li a {
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .menu-icons-container {
    display: none;
  }
  .dog-image-section {
    width: 50%;
    min-width: 24rem;
    width: inherit;
  }
  .dog-image-section .background {
    padding: 5rem 0;
  }
  .dog-image-section .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dog-image-section .contents .img-container {
    width: 69%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 28rem;
  }
  .dog-image-section .contents .img-container.zoom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dog-image-section .contents .img-container.zoom img {
    height: 100%;
    width: auto;
  }
  .dog-image-section .contents .texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .dog-image-section .contents .texts .quote {
    line-height: 4;
  }
  .dog-image-section .contents .texts .score span {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin-left: .5rem;
    line-height: 1;
    margin-right: -1rem;
  }
  .action-section {
    padding: 5rem 0;
    width: 35%;
    min-width: 16.8rem;
  }
  .action-section .contents {
    padding: 0 2rem;
  }
  .abstract-section {
    min-width: 15%;
    height: 29rem;
    z-index: -1;
    background: #850005;
  }
  .abstract-section .contents {
    width: 100%;
    padding: 5rem 0;
    background: url(../img/abstract-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 115%;
  }
  .action-section {
    max-width: 23rem;
    min-width: 23rem;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 140%;
  }
}
/*# sourceMappingURL=styles.css.map */